{
  "presets": [
    "react-native"
  ],
  "plugins": [
    ["transform-inline-environment-variables"],
    ["variable-path-resolver", {
      "envName": "SITE",
      "vars": {
        "m-fr": {"Device": "Mobile", "Site": "Fr" },
        "m-com": {"Device": "Mobile", "Site": "Com"},
        "d-fr": {"Device": "Desktop", "Site": "Fr" },
        "d-com": {"Device": "Desktop", "Site": "Com"},
        "default": {"Device": null, "Site": "Com"}
      },
      "hash": "testing12 3ss3"
    }]
  ]
}